body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}
.AccountInf {
    width: 1000px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.AccountInf img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    border-style: solid;
    border-color: green;
}
.AccountInf input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 99%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f1f1f1;
}
.AccountInf label {
    font-weight: bold;
    text-align: left;
    display: block;
    margin-top: 10px;
}