.add_offer {
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  margin: 50px auto;
  color: black;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Prevents it from stretching too wide */
}
.add_offer h3{
  color:  #45a049;
  margin: 20px;
}
.textInput {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.unit {
  position: relative;
  top: 10px;
  background-color: rgb(51, 184, 51);
  padding: 8px 5px 8px;
  width: 50px;
height: fit-content;
  border-radius: 5px 0 0 5px;
  color: white;
  text-align: center;
}

.group-input {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.unit-Input {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch; 
}

.unit-Input .composite {
  border-radius: 0px 5px 5px 0px;
  outline: none;
  flex: 1; 
}

input:focus,
select:focus,
textarea:focus {
  border-color: #4CAF50;
  outline: none;
}

.file-upload {
  width: 100%;
  max-width: 400px;
  position: relative;
  border: 2px dashed #4CAF50;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: #4CAF50;
}

.submit {
  width: 100%;
  max-width: 300px;
  background: #4CAF50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
}

.submit:hover {
  background: #45a049;
}

.page {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailed-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}
.center{
  text-align: center;
  display:flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

}

@media (max-width: 768px) {
  .add_offer {
    width: 90%;
    margin: 20px auto;
  }

  .unit-Input,
  .detailed-input {
    flex-direction: column;
    width: 100%;
  }

  .unit {
    width: 100%;
    border-radius: 5px;
  }

  .file-upload {
    left: 0;
    width: 100%;
  }

  .submit {
    left: 0;
    width: 100%;
  }
}
