
/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
} */
.login-location{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;

}
.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}
.login-container h2 {
    margin-bottom: 10px;
}
.input-group {
    margin: 10px 0;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.login-btn {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #a4c639, #8ebf45);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.social-login {
    margin: 15px 0;
}
.social-icons img {
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
}
.register {
    font-size: 14px;
    margin-top: 10px;
}
.register a {
    color: #8ebf45;
    text-decoration: none;
}