.divider {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
   position: relative;
    padding: 2rem ;
}

.divider-line {
    
    flex: 1;
    height: 1px !important;
    background-color: #4caf50;
}

.divider-icon {
    margin: 0 1rem;
}

.divider-icon img {
    width: 24px;
    height: 24px;
}