# Ignore all files inside `client` except the ones explicitly allowed
client/*
!client/src/
!client/src/Componenet/addOffer.jsx

# Ignore specific files
server/index.js

# Ignore all JSX files (unless explicitly tracked)
*.jsx
!client/src/Componenet/addOffer.jsx
