* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #a1a1a1;
  color: #333;
}

.home-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  margin: 0;
  background-color: #fff;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  margin-top: -40px;
}

.search-input {
  width: 50%;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  font-size: 1rem;
}

.search-button {
  padding: 0.8rem 1.5rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 0 25px 25px 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #45a049;
}


.more-button-container {
  text-align: center;
  margin-top: 1rem;
}

.more-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.more-button:hover {
  background-color: #45a049;
}

.action-button svg {
  font-size: 1.2rem;
  color: white;
}

.filters-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.filter-group {
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.filter-label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: #4caf50;
  font-weight: bold;
}

.filter-select,
.filter-input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  font-size: 1rem;
}

.filter-button {
  padding: 0.8rem 1.5rem;
  background-color: #fff;
  color: #4caf50;
  border: 1px solid #4caf50;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #4caf50;
  color: #fff;
}

.clear-button {
  padding: 0.8rem 1.5rem;
  background-color: #fff;
  color: #4caf50;
  border: 1px solid #4caf50;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.clear-button:hover {
  background-color: #4caf50;
  color: #fff;
}
